*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.list{
    width: 170%;
    min-height: 100vh;
    background: linear-gradient(45deg,black,white);
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: perspective(1000px);
   
}
.item img{
   width: 130px;
   height: 150px;
   margin: 12px 13px;
   border-radius: 20px;
}
.item{
    transition: 0.5s;
    filter: brightness(0);
}
.item:hover{
    filter: brightness(1);
    transform: translateZ(200px);
}
.item:hover +.item{
    filter: brightness(0.6);
    transform: translateZ(150px) rotateY(40deg);
}
